version: "3"

services:
  proxy:
    container_name: nginx
    image: nginx:latest
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    volumes:
      - './etc-nginx/:/etc/nginx/'
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
